<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="" content="">
    <title></title>
  </head>
  <body class="bg-primary">
    <br>
    <br>
    <br>
    
    <div class="mx-auto w-75  rounded p-4" style="background-color:silver; border:1px solid white ">
      
      <h1 class="text-center"> PLVCS</h1>
      <br>
      <br>
      
      
<form class="form-group" method="post" action="/admin">
  <label for="studentid"> Admin ID </label>
  <br>
  <input id="studentid" class="form-control" name="adminid">
  <br>
  <label for="Password">  Password</label>
  <input id="Password" type="password" class="form-control" name="password">
  <br>
  <input type="submit" class="btn-primary text-center form-control text-white" value="Login">
  <br>
 <a style="text-align:right" href="/forgot_password?user='admin' "> <p  class=""> Forgot Password ?</p></a>
  
  
  <br>
  <br>
  
  
</form>
      
      
      
      
    </div>
    
    
    
  <script src="/javascripts/bootstrap.min.js">
    
    
  </script>  
  </body>
</html>
